:root {
  --font-size-13: 0.813rem;
  --font-size-14: 0.875rem;
  --font-size-15: 1.063rem;
  --font-size-17: 1.063rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-22: 1.375rem;
  --font-size-24: 1.5rem;
  --font-size-26: 1.625rem;
  --font-size-count: 4.125rem;
  --font-size-title: 2.875rem;

  --point-color: #f5821f;

  --main-font: "NanumSquare";
  --suv-font: "Pretendard Variable";
}
